<div style="display: flex; flex-direction: column; align-items: center;">
  <p>
    <img src="https://raw.githubusercontent.com/PedroVignotto/GoStack-Desafio-02/master/.github/logo.png" alt="GymPoint">
  </p>
  <strong>Hello, {{ student }}!!</strong>
</div>
