<div style="display: flex; flex-direction: column; align-items: center;">
  <p>We received your question and are very happy to help you. Whenever you have any questions you can count on us.</p>

  <p style="border-left: 7px solid #EE4D64; padding-left: 12px; text-align: justify;">
    <strong>{{ question }}</strong><br /><br />
    {{ answer }} <br />
  </p>
</div>
